<launch>
  <!---Depthimage to Laserscan -->
    <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan">
        <remap from="image" to="kinect2/sd/image_depth"/>
        <remap from="camera_info" to="kinect2/sd/camera_info"/>
	<param name="output_frame_id" value="base_laser"/>
    	<param name="range_min" value="0.1" />
    	<param name="range_max" value="9.0" />
    	<param name="scan_time" value="0.1" />
    	<param name="scan_height" value="20" />  
	</node>
</launch>
